*{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: gray;
    width: auto;
    height: 45px;
}

header h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.container{
    display: flex;
    padding: 10px;
    margin: 10px;
}

#maiuscula,#numero,#sinbolo{
    padding: 10px;
    margin-right: 10px;
}